/* below is custom css for LNQ squeeze page, not from the bootstrap template */

#agile-sign-up-form {
	margin: 0 auto;
	text-align: center;
}

#agile-sign-up-form .form-control {

}
body {
	background-color: #433F40;
	/*background: rgb(30,30,30); dark */
}
.centered {
	margin: 0 auto;
}
#coming-soon-product {
	position: relative;
	top: 15px;
}

form {
	text-align: center;
	margin: 0 auto;
}

form input {
	text-align: center;
}
footer {
	padding: 20px 20px 40px 20px;
}
footer h6 {
	margin: 0 auto;
	padding: 20px;
}
.logo {
   max-width: 200px;
   margin: 0 auto;
   position: relative;
   bottom: -22px;
}
.purple {
	color: rgb(120,82,169) !important;
}
#team h2 {
	color: #5CA3D1;
}
.team-leader-box {		
	padding-top: 35px;
	/*box-shadow: 1px 1px 5px rgba(92,163,209,0.3); /* transparent blue */*/
}
.no-border-before {
	box-shadow: none !important;
	border-top: none;
}
.team-leader-box h3 {
	font-size: 18px;
}
.team-leader-box p {
	padding: 15px;
}
.team-leader-box span {
	color: #5CA3D1;
	font-size: 16px;
}
.theme-color1 {
	color: white !important;
}
.them-color2 {
	color: gray !important;
}

/* begin media query specific styling below */

@media only screen and (max-width: 767px) {
	.team-leader-box {
		width: 100hw;
		/*padding-top: 15px;*/
		padding-bottom: 15px;
	}

	.team-leader-box p {
		font-size: 15px;
		padding-top: 25px;
	}

}/* for xs devices */

@media only screen and (min-width: 768px) {
	/*below begins temporary styling, while we don't have headshots. TODO */
	.team-leader-box p {
		font-size: 16px;
	}
	.leader-1 {
		margin-top: 140px;
	}
	.leader-2 {
		margin-top: 100px;
	}
	.leader-3 {
		margin-top: 180px;
	}
	.leader-4 {
		margin-top: 40px;
	}
	.leader-5 {
		margin-top: 120px;
	}
} /* for tablet and all larger */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}/* for sm devices only */

@media only screen and (min-width: 992px) {

}/* for md and lg devices only */

/* INPUT STYLES */

form {
	text-align: center;
	margin: 0 auto;
}
form input {
	text-align: center;
	color: white !important;
	box-shadow: none !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}

input:focus, input:active, input:hover {
	box-shadow: none !important;
	border-top: none !important;
	color: white;
	border-bottom: 1px solid rgb(134,144,101) !important;
}
input:focus::-webkit-input-placeholder {
	color: white;
}

/*note that button colors are done via .link in the template styling sheet*/

/*  COLORS  
background-color: rgb(67,63,64);
green: rgb(134,144,101);
black: rgb(0,0,0);
white: rgb(254,254,254);
*/

